<div class="container">
	<form 	
	id        =  "uploadForm"
	enctype   =  "multipart/form-data"
	action    =  "/api/uploads"
	method    =  "post"
	>
	<!-- <input type="file" id="file" name="userPhoto" /> -->
	<input type="file" id="uploadFile" ng-model="upFile" onchange="angular.element(this).scope().setFile(this)" />
	<input type="submit" value="Upload Image" id="fileUploadSubmit" name="submit" style="display:none;">
</form>
<form novalidate class="addForm">
	Name: <input class="form-control" type="text" ng-model="product.name" /> <br />
	Type: <select class="form-control" ng-model="product.type">
	<option value="halokits">Halo Kits</option>
	<option value="ledlighting">LED Lighting</option>
	<option value="hidproducts">HID Products</option>
	<option value="retrofitproducts">Retrofit Products</option>
	<option value="accessories">Accessories</option>
	<option value="housings">Housings</option>
	<option value="clearance">Clearance</option>
</select><br/>
Price: <input class="form-control" type="number" ng-model="product.price" /> <br />
Wholesale Price: <input class="form-control" type="number" ng-model="product.wholesalePrice" /> <br />
Brand: <input class="form-control" type="text" ng-model="product.brand" /> <br />
Short Description: <textarea class="form-control" rows="4" ng-model="product.description"></textarea> <br />
Long Description: <textarea class="form-control" rows="6" ng-model="product.longDescription"></textarea> <br />

<button ng-click="addChoice()" type="button" class="btn btn-warning btn-sm">
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> ADD Option
</button>


<div ng-repeat="choice in choices">
	Option {{$index+1}} name: <input type="text" class="form-control" ng-model="product.choices[$index].name" />
	Option {{$index+1}} options (separate by commas, include prices):<textarea class="form-control" rows="4" ng-model="product.choices[$index].subChoices"></textarea> <br />
</div>

<button ng-click="addCategory()" type="button" class="btn btn-warning btn-sm">
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add Category
</button>

<div ng-repeat="category in categories">
	Category {{$index+1}} name: <input type="text" class="form-control" ng-model="product.categories[$index].name" />
	Category {{$index+1}} options (separate by commas):<textarea class="form-control" rows="4" ng-model="product.categories[$index].subOptions"></textarea> <br />
</div>

<input class="form-control" type="submit" ng-click="update(product)" value="Save" />
</form>
</div>

<div class="well">{{product}}</div>