<div class="container">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->

		<!-- Wrapper for slides -->
		<div class="carousel-inner" >
			<div class="item active">
				<img src="img/jumbotron-1.jpg" alt="...">
				<div class="jumbotronCaption">
					<h1>Ram Halos in stock</h1>
					<p>Great prices, ready to ship today!</p>
				</div>
			</div>
			<div class="item">
				<img src="img/jumbotron-2.jpg" alt="...">
				<div class="jumbotronCaption">
					<h1>Sports cars, ATVs, Motorcycles? We've got you covered.</h1>
					<p></p>
				</div>
			</div>
			<div class="item">
				<img src="img/jumbotron-3.jpg" alt="...">
				<div class="jumbotronCaption">
					<h1>Turn night into day with our LED Light Bar selection.</h1>
					<p></p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->
</div>

<!-- Quality Products (black dually with yellow halo)
We carry only the best products- whether you're just looking to improve the appearance of your ride with our halo kits, or the functionality as well with our retrofitting and LED light bar selection. Make your car, truck, or motorcycle stand out from the rest!

Knowledgable People (blue kia with blue halo)
Not sure what you need? Drop us an email! We don't just sell the parts, we've been using them ourselves for years and have always tailored to those that want to stand out from the crowd.

Great Service (I like the picture you have)
  We strive for perfection in everything we do- Especially customer satisfaction. If you have questions about our products, warranties, compatibility, or installation, we are here for you. Since we began operating in 2011, we've helped countless people modify their vehicle's lighting. -->

<div class="container" style="margin-top:40px">
	<div class="contentHomepage alignRight" style="padding:10px">
		<div class="col-md-2 col-sm-0"></div>
		<div class="col-md-7 col-sm-6" style="height:100%;position:relative;">
			<h1>Quality Products</h1>
			<p>
				We carry only the best products &mdash; whether you're just looking to improve the appearance of your ride with our halo kits, or the functionality as well with our retrofitting and LED light bar selection. Make your car, truck, or motorcycle stand out from the rest!
			</p>
		</div>	
		<div class="col-md-3 col-sm-6" >
			<img src="img/homepage-1.jpg" alt="">
		</div>
	</div>
</div>

<div class="container">
	<div class="contentHomepage ">
		<div class="col-md-3 col-sm-6">	
			<img src="img/homepage-2.jpg" alt="">
		</div>
		<div class="col-md-7 col-sm-6" style="height:100%;position:relative;">
			<h1>Passionate People</h1>
			<p>
				Not sure what you need? Drop us an email! We don't just sell the parts, we've been using them ourselves for years and have always tailored to those that want to stand out from the crowd.
			</p>
			</div>	
			<div class="col-md-2 col-sm-0">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="contentHomepage alignRight">
			<div class="col-md-2 col-sm-0"></div>
			<div class="col-md-7 col-sm-6" style="height:100%;position:relative;">
				<h1>Great Service</h1>
				<p>
					We strive for perfection in everything we do- Especially customer satisfaction. If you have questions about our products, warranties, compatibility, or installation, we are here for you. Since we began operating in 2011, we've helped countless people modify their vehicle's lighting.
				</p>
			</div>	
			<div class="col-md-3 col-sm-6">
				<img src="img/homepage-3.jpg" alt="">
			</div>
		</div>
	</div>

	<div class="container" ng-if="testimonials.length > 0">
		<div class="genericSection">
			<h1>Customer Testimonials</h1>
			<div ng-repeat="testimonial in testimonials">
				<h2>{{testimonial.name}}</h2>
				<p>{{testimonial.testimonial}}</p>
				<p>-{{testimonial.date}}</p>
			</div>
		</div>
	</div>
