
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-6">
			<div class="productImage">
				<img src="img/homepage-2.jpg" alt="">				
			</div>
		</div>
		<div class="col-lg-6">
			<div class="productTitle">
				<h1> {{product.name}} </h1>
			</div>
			<div class="productPrice">
				<h1>$10.00</h1>
			</div>
			<div class="productOptions">
				<div class="col-lg-6">
					<p>Option</p>
					<select name="" id=""></select>
					<p>Option</p>
					<select name="" id=""></select>
				</div>
				<div class="col-lg-6">
					<p>Option</p>
					<select name="" id=""></select>
					<p>Option</p>
					<select name="" id=""></select>
				</div>
			</div>
			<div class="productDescription">
				<p>
					{{product.description}}
				</p>
			</div>
		</div>
	</div>
</div>