<div class="container" ng-if="admin">
	<button type="button" class="btn btn-warning btn-lg" ng-click="deleteProduct()">
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> DELETE ENTRY
	</button>
	<button type="button" class="btn btn-warning btn-lg" ng-click="editProduct()">
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> EDIT ENTRY
	</button>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-6">
			<div class="productImage">
				<img ng-src="uploads/{{currentImage}}" alt="">				
			</div>
			<div class="productImageIconWrapper" ng-if="product.imageSrcSet.length>0">
				<div class="productImageIcon">
					<img ng-src="uploads/{{product.imageSrc}}" alt="" ng-click="setImage(product.imageSrc)">	
				</div>

				<div class="productImageIcon" ng-repeat='imageSrc in product.imageSrcSet'>
					<img ng-src="uploads/{{imageSrc}}" alt="" ng-click="setImage(imageSrc)">				
				</div>				
			</div>
		</div>
		<div class="col-md-6">
			<div class="productTitle">
				<h1> {{product.name}} </h1>
			</div>
			<div class="productCategories">
				<div ng-repeat="category in product.categories">
					<h1>{{category.name}}: <span ng-repeat="subOption in category.subOptions">{{subOption}}{{$last ? '' : ', '}} </h1>
				</div>
			</div>
			<div class="productPrice">
				<h1>{{product.price + costTotal | currency}}</h1>
			</div>
			<div class="productQuantity input-group">
				<input type="number" ng-model="quantity" class="form-control" placeholder="1" />
			</div>
			<div class="addToCart">
				<button type="button" class="btn btn-primary btn-lg" ng-click="addToCart()">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span> ADD TO CART
				</button>
			</div>
			<div class="productOptions">
				<div ng-repeat="choice in product.choices">
					<p>{{choice.name}}</p>
					<select class="form-control" ng-model="selectedOptions[$index]" ng-init="selectedOptions[$index]=choice.subChoices[0]" ng-options="subChoice as (subChoice.choice + ' ($' + subChoice.price + ')') for subChoice in choice.subChoices" ng-change="updateTotal()"></select>
				</div>
			</div>
			<div class="productDescription">
				<p ng-bind-html="trustedLongDescription"></p>
			</div>
		</div>
	</div>
</div>
