
<div class="container" ng-if="admin">
	<button type="button" class="btn btn-warning btn-lg" ng-click="deleteProduct()">
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> DELETE ENTRY
	</button>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-6">
			<div class="productImage">
				<img src="img/homepage-2.jpg" alt="">				
			</div>
		</div>
		<div class="col-lg-6">
			<div class="productTitle">
				<h1> {{product.name}} </h1>
			</div>
			<div class="productPrice">
				<h1>$10.00</h1>
			</div>
			<div class="productOptions">
				<div ng-repeat="choice in product.choices">
					<p>{{choice.name}}</p>
					<select name="" id="">
						<option ng-repeat="subchoice in choice.subChoices">
							{{subchoice.choice}} (${{subchoice.price}})
						</option>
					</select>
				</div>
			</div>
			<div class="productDescription">
				<p>
					{{product.description}}
				</p>
			</div>
		</div>
	</div>
</div>