<div class="container">
	<div class="well" style="margin-top:30px">
		<h1 style="text-align:center; font-family:'Oswald',sans-serif;">Thank you for logging into Paypal. Confirm order now?</h1>
		<p style="text-align:center; font-family: 'Merriweather', serif;" >By placing your order, you confirm that you agree to our <a href="/policies" class="linkColor">store policies</a>.</p>
		<button type="button" class="btn btn-warning btn-lg" style="margin:40px auto; display:block;" ng-click="confirmOrder()">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span> CONFIRM
		</button>
	</div>
</div>