body{
	background-color: #fff;
}

a{
	text-decoration: none;
	color:inherit;
}

a:hover{
	text-decoration: none;
	color:inherit;
}

a:visited{
	text-decoration: none;
	color:inherit;
}

table {
	font-family: "Merriweather",serif !important;
}

.linkColor{
	color:#0645AD !important;
}

.linkColor:hover{
	cursor:hand;
	cursor:pointer;
}

.alignLeft{
	text-align: left;
}

.alignRight{
	text-align: right;
}

.form-control{
	max-width:600px !important;
}

.vAlignBottom{
	vertical-align: bottom;
	height: 100%;
}

.capitalize{
	text-transform: capitalize;
}

.flashMessage{
	font-family: 'Merriweather',serif;
	font-size:16px;
}



/*Title*/

.title h1{
	font-size:40px;
	font-family: 'Oswald',sans-serif;
	font-weight: 700;
	margin:0;
}

.title h2{
	font-size:20px;
	font-family:'Oswald',sans-serif;
	margin: 0;
	color:#1E8BC3;
}

.logo{
	display:inline-block;
	position: relative;
	margin: 10px 0;
	width:100%;
}

.logo img{
	max-width:100%;
}

.adminControlPanel{
	background-color: black;
}

.adminControlPanel p{
	color:white;
	font-size:18px;
}

.title{
	position: relative;
	margin:15px 15px;
	display:inline-block;
	vertical-align: middle;
}

/*NAVBAR*/

.navBar{
	width: 100%;
	display:inline-block;
	background-color: #000;
	padding:0;
}

.navBarElement{
	display:inline-block;
	padding:15px 25px;
}

.navBarElement h1{
	color:#dcdcdc;
	margin:0 0;
	font-size:22px;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 2px;
}

.navBarMenu{
	display: none;
	position: absolute;
	height: 220px;
	background-color: #cccccc;
	z-index:500;
	top:100%;
	width: 100%;
	left:0;
}

.navBarMenu h1{
	color:black;
}

.mobileNavBar{
	display:none;
	text-align: right;
	background-color: black;
	width: 100%;
	height: 44px;
	font-family: 'Oswald',sans-serif;
}

.mobileNavBar:hover{
	cursor:hand;
	cursor:pointer;
}

.mobileNavBar h1{
	color:white;
	font-size:25px;
	font-weight:700;
	padding:7px;
	padding-right:35px;
	margin:0;
}

.mobileNavBar span{
	position: absolute;
	font-size:22px;
	top:6px;
	right:22px;
}

/*FOOTER*/

.footer{
	margin-top: 40px;
	background-color: #000;
	padding-bottom: 10px;
}

.footer h1{
	font-family: 'Oswald',sans-serif;
	color:#1E8BC3;
	font-size:22px;
	font-weight: 700;
	border-bottom: solid;
	border-width:1px;
}

.footer h2{
	font-size:16px;
	font-family: 'Oswald',sans-serif;
	color:#b0b0b0;
	font-weight: 300;
	margin:6px 0;
}

.footer h3{
	font-size:14px;
	font-family:'Oswald',sans-serif;
	color:#909090;
	font-weight:400;
	border-top:solid;
	border-width:2px;
	padding-top: 6px
}

/* Content*/

.jumbotronCaption{
	top:12%;
	left:10%;
	position: absolute;
	background-image: url('../img/trans-bg.png');
	z-index: 900;
	max-width:26%;
	padding:0;
}

.jumbotronCaption h1{
	font-family: "Oswald",sans-serif;
	color:white;
	margin-top:10px;
	margin-left:8px;
}

.jumbotronCaption p{
	font-family: "Merriweather",serif;
	color:#cccccc;
	font-size: 18px;
}

.contentHomepage{
	position: relative;
	border-top:solid;
	padding: 20px 0;
	border-width:2px;
	border-color:#b0b0b0;
}


.contentHomepage h1{
	font-family: "Oswald", sans-serif;
	padding-top: 20px;
}

.contentHomepage p{
	font-family:"Merriweather", serif;
	color:#404040;
}

.contentHomepage img{
	position:relative;
	margin:auto;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
}

.headerLogIn{
	position: absolute;
	right:0;
	top:18px;
	text-align:right;
	font-family: 'Oswald',sans-serif;
}

.headerLogIn p{
	font-family: 'Merriweather',serif;
	margin-bottom:4px;
}

/*gallery*/

.galleryCategories{
	position: relative;
	display:inline-block;
	background-color: #303030;
	width: 100%;
	text-transform:capitalize;
}

.galleryCategories div{
	margin:3px 20px;
	display: inline-block !important;
}

.galleryItem{
	position: relative;
	border:solid;
	border-width: 2px;
	border-color:#efefef;
	margin: 5px;
	height:285px;
	overflow:hidden;
}

.galleryItem h1{
	position: absolute;
	display:inline-block;
	font-family: "Oswald",sans-serif;
	font-weight:400;
	font-size:20px;
	margin:5px 0;
	width:100%;
	color:#ffffff;
}

.galleryItem p{
	font-family: "Merriweather",serif;
	font-size:12px;
	margin:6px;
}

.galleryItemTitle{
	position: relative;
	border-bottom:solid;
	border-width:1px;
	background-color: #000;
	padding:0 10px;
	height:52px;
	overflow:hidden;
}

.galleryTitleWrapper{
	top:230px;
}

.galleryItemImage{
	width:100%;
	position: relative;
}

.galleryItemImage img{
	display:block;
	margin: 15px auto;
	max-height:200px;
	max-width: 100%;
	top:20px;
	position: relative;
}

.galleryItemDescription{
	position: relative;
}

.galleryItemDescription p{
	font-family: "Merriweather",serif;
	color:#b8b8b8;
}

.galleryPrice{
	position: absolute;
	top:-15px;
	right:0;
	background-color: #000;
	color:#F4B350;
	font-weight:700;
}

.galleryPrice p{
	font-family: "Oswald",sans-serif !important;
	font-size:16px;
}

.galleryBrand{
	text-transform: capitalize;
	position: absolute;
	top:-15px;
	left:0;
	color:#000000;
	font-weight:700;
}

.galleryTitleWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
}

/*Product page*/

.productTitle{
	border-bottom:solid;
	border-color:#dddddd;
	border-width:1px;
}

.productTitle h1{
	font-family:"Oswald",sans-serif;
	font-size:40px;
	color:#202020;	
}

.productCategories{
	width: 100%;
	border-bottom: solid;
	border-color:#dddddd;
	border-width:1px;
	padding-bottom: 10px;
	text-transform: capitalize;
}

.productCategories h1{
	font-family:"Oswald",sans-serif;
	font-size:20px;
	color:#808080;
}

.productPrice{
	position: absolute;
	display:inline-block;
	font-family: "Oswald",sans-serif;
	font-weight: 300;
	color:#F9690E;
	border-width:1px;
	border-color:#dddddd;
	width: 50%;
	margin:0;
	padding:24px 0;
}

.productPrice h1{
	margin:0;
	padding:0;
	top:-20px;
}

.productQuantity{
	display: block;
	position: absolute;
	left:40%;
	margin:0;
	padding:26px 0;
	width: 120px;
}

.productQuantity select{
	height:100%;
}

.addToCart{
	position: relative;
	left:65%;
	margin:0;
	width: 45%;
	padding:20px 0;
	display: inline-block;
}

.addToCart button{
	display: block;
}

.productImage{
	border-left:solid;
	border-right:solid;
	border-width: 1px;
	border-color:#dddddd;
}

.productImage img{
	display: block;
	width: 80%;
	margin:0 auto;
	-webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.41);
	box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.41);
}

.productOptions{
	border-top:solid;
	border-color:#dddddd;
	border-width:1px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: capitalize;
}

.productOptions select{
	width: 100%;
	display:block;
	text-transform: capitalize;
	background-color:#E4F1FE;
	color:#F9690E;
	font-weight:600;
}

.productOptions p{
	margin-bottom: 0;
	font-family: "Merriweather",serif;
}

.productDescription{
	border-top:solid;
	border-width:1px;
	border-color:#dddddd;
}

.productDescription h1{
	font-family: "Oswald", sans-serif;
	font-size:40px;
	border-bottom:solid;
	border-width:1px;
	border-color:#f0f0f0;
}

.productDescription h2{
	font-family: "Oswald", sans-serif;
	font-size:25px;
	color:#1E8BC3;
	border-bottom:solid;
	border-width:1px;
	border-color:#E4F1FE;
	font-weight:300;
}

.productDescription p{
	font-family: "Merriweather", serif;
}

/*Admin Styling*/

/*Miscell.*/

.blue{
	color:blue;
	font-size:50px;
}


/*Animations*/






/*Media Width Queries*/


/*XS*/
@media (max-width: 768px) { 

	.jumbotronCaption{
		max-width:55%;
	}

	.jumbotronCaption h1{
		font-size:14px;
	}

	.jumbotronCaption p{
		font-size:10px;
	}

	.galleryItem{
		max-width:400px;
		margin-left:auto;
		margin-right:auto;
	}

	.productQuantity{
		left:50%;
	}

	.addToCart{
		top:60px;
		left:0px;
		height: 140px;
	}

	.headerLogIn{
		position: relative;
		height:130px;
		padding:0;
		margin:0;
		text-align: center;
		border-top:solid;
		border-width:1px;
		border-color:#d0d0d0;
		padding-top:20px;
	}

	.hidden-on-xs{
		display:none;
		height: 0;
	}

	.contentHomepage img{
		max-width:320px;
		display:block;
		margin:0 auto;
	}

	.navBar{
		position: absolute;
		width: 200px;
		right:15px;
		z-index: 999;
	}

	.navBarElement{
		display: block;
		padding:8px;
		text-align: right;
	}

	.navBarElement h1{
		font-size:24px;
	}

	.mobileNavBar{
		display:block;
	}

}


/*SM*/
@media (min-width: 769px) and (max-width: 992px) {

	.headerLogIn{
		top:3px;
	}

	.headerLogIn>a>button{
		padding:4px 10px;
		margin:0 auto;
	}

	.navBar{
		display:none;
		position: absolute;
		width: 200px;
		right:15px;
		z-index: 999;
	}

	.navBarElement{
		display: block;
		padding:8px;
		text-align: right;
	}

	.navBarElement h1{
		font-size:24px;
	}

	.mobileNavBar{
		display:block;
	}

}



/*MD*/
@media (min-width: 993px) and (max-width: 1200px) {

	.productQuantity{
		left:34%;
	}

	.addToCart{
		left:61%;
	}

	.headerLogIn{
		top:6px;
	}

	.navBarElement{
		padding:12px 18px;
	}

	.navBarElement h1{
		font-size:19px;
		margin-bottom:1px;
	}

}